@charset "ISO-8859-1";

html,
body {
  font: 400 16px Roboto, sans-serif;
}

.btn {
	height: 25px;
    background: #32923b;
	border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
}

.btn-add {
	background: #0078d4;
}
.btn-update {
	background: #32923b;
}
.btn-remove {
	background: #e02041;
}

